{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="{% static 'Textract/css/dashboard.css' %}">
   
</head>
<body>
    
    <div class="container">
        <h2>Welcome to Dashboard</h2>
        <ul>
            <li><a href="{% url 'create_customer' %}" class="btn btn-primary">Create Customer</a></li>
            <li><a href="{% url 'customer_list' %}" class="btn btn-primary">Customer Details</a></li>
            {% comment %} <li><a href="{% url 'list_customers' %}" class="btn btn-secondary">List Customers</a></li> {% endcomment %}
        </ul>
    </div>

    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
