{% extends 'Textract/base.html' %}

{% block title %}
Customer Onboarding - Index
{% endblock %}

{% block content %}
<!-- Your index.html specific content goes here -->
<div class="jumbotron">
    <h1 class="display-4">Welcome to Customer Onboarding</h1>
    <hr class="my-4">
    <p><strong>Objective:</strong><br>
        To develop a customer onboarding form utilising AWS Textract API for extracting data from documents, with country-specific configurations and backend management through Django admin.
        </p>
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
{% endblock %}
